.body{
    background-color: rgb(203, 199, 206);
    font-family:Calibri, ALGERIAN, Arial;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    .card {
        background:linear-gradient(180deg,rgb(255, 0, 43),orange);
        padding:25px;
        box-shadow: 2px 2px 5px rgb(176, 212, 134);
        min-width: 150px;
        display: flex;
        flex-direction: column;
        align-items: left;
    
    }
    .h1{
        font-size: 4 rem;
        margin-top:0;
        margin-bottom:10px;
    
    }
    .p{
        font-size:1.5rem;
        margin-top:5px;
    }
    .day,.temp{
        font-size:3.5rem;
        font-weight: "bold";
    }